<div class="popup-container" *ngIf="showPopup" (click)="closePopup()">
  <div class="popup">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <div class="popup-header">
        <span class="popup-close" (click)="closePopup()">&times;</span>
        <h2>Delete Schedule</h2>
      </div>
      <div class="popup-body">
        <div>
          Deleting {{meeting.title}} for {{meeting.person}} at {{meeting.date}} will be permanent. Do you want to continue?
        </div>
        <div>
          <button class="white" (click)="closePopup()">Cancel</button>
          <button class="blue" (click)="closePopup(true)">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
