<div class="container" *ngIf="!loading">
  <div class="arrow-container">
    <button class="arrow-btn left-arrow" (click)="backwardArrowClick()">
      <span>&larr;</span>
    </button>
    <select [(ngModel)]="selectedValue" (change)="filterMeetings()">
      <option *ngFor="let option of personDropdownOptions" [value]="option">{{ option }}</option>
    </select>
    <button class="arrow-btn right-arrow" (click)="forwardArrowClick()">
      <span>&rarr;</span>
    </button>
  </div>


<!--  <div class="schedule-container">-->
<!--    <div class="day-column" *ngFor="let day of days">-->
<!--      <div class="day-header">-->
<!--        <button class="plus-button" (click)="addMeetingPopup(day)">-->
<!--          <span>+</span>-->
<!--        </button>-->
<!--        {{ this.parseDayWithSuffix(day) }}-->
<!--        <button class="refresh-button" (click)="getMeetings()">-->
<!--          <span>&#x21bb;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="time-slot" *ngFor="let slot of timeSlots; let i = index">-->
<!--        <div class="slot-time">{{ slot.display }}</div>-->
<!--        <div class="meetings-container">-->
<!--          <div class="meetings">-->
<!--            <div class="meeting" *ngFor="let meeting of getMeetingsForTime(day, i)" (click)="editMeetingPopup(meeting)"-->
<!--                 [ngStyle]="{'background-color': getShadeForMeeting(meeting), 'height.px': getMeetingHeight(meeting.startTime, meeting.endTime)}">-->
<!--              {{ meeting.person }}: {{ meeting.title }}-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div *ngIf="!isMobile">
    <div>
      <div class="month-container">
        <div class={{getMonthBannerClassname(0)}}>{{ getFirstMonth() }}</div>
        <div class={{getMonthBannerClassname(1)}} *ngIf="hasSecondMonth()">{{ getSecondMonth() }}</div>
      </div>
    </div>

    <!-- Desktop Layout -->
    <div class="schedule-container desktop" >


      <div class="day-column" *ngFor="let day of days">
        <div class="day-header">
          <button class="plus-button" (click)="addMeetingPopup(day)">
            <span>+</span>
          </button>
          {{ parseDayWithSuffix(day) }}
          <button class="refresh-button" (click)="getMeetings()">
            <span>&#x21bb;</span>
          </button>
        </div>
        <div class="time-slot" *ngFor="let slot of timeSlots; let i = index">
          <div class="slot-time">{{ slot.display }}</div>
          <div class="meetings-container">
            <div class="meetings">
              <div class="meeting" *ngFor="let meeting of getMeetingsForTime(day, i)"
                   (click)="editMeetingPopup(meeting)"
                   [ngStyle]="{'background-color': getShadeForMeeting(meeting), 'height.px': getMeetingHeight(meeting.startTime, meeting.endTime)}">
                {{ meeting.person }}: {{ meeting.title }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="schedule-container mobile" *ngIf="isMobile">
    <!-- Loop through the days, adding a month banner at the correct point -->
    <div *ngFor="let day of days; let i = index">
      <!-- Add a month banner at the start of the list or when the month changes -->
      <div *ngIf="i === 0 || isMonthChange(i)" class="month-banner">
        {{ getMonthForDay(day) }}
      </div>

      <!-- Day Column -->
      <div class="day-column-horizontal">
        <div class="day-header">
          <button class="plus-button" (click)="addMeetingPopup(day)">
            <span>+</span>
          </button>
          {{ parseDayWithSuffix(day) }}
          <button class="refresh-button" (click)="getMeetings()">
            <span>&#x21bb;</span>
          </button>
        </div>
        <div class="meetings-container">
          <div class="meeting" *ngFor="let meeting of getMeetingsForDay(day)"
               (click)="editMeetingPopup(meeting)"
               [ngStyle]="{'background-color': getShadeForMeeting(meeting), 'height.px': getMeetingHeight(meeting.startTime, meeting.endTime, true)}">
            {{ meeting.person }}: {{ meeting.title }}
            <br/>
            {{meeting.startTime}} - {{meeting.endTime}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-meeting-popup
    #meetingPopup
    (editMeeting)="editMeetingCall($event)"
    (addMeeting)="addMeetingCall($event)"
    (deleteMeeting)="deleteMeetingCall($event)"
  />
</div>
