<div class="flash-cards-container">
  <span class="progress-info">{{currentIndex + 1}}/{{this.flashCards.length}}</span>
  <div class="flash-cards-row">
    <button (click)="goToPrevious()" class="arrow-button left-arrow">
      &#8592;
    </button>

    <button
      (click)="toggleQuestionAnswer()"
      [ngClass]="{ 'question-visible': isQuestionVisible, 'answer-visible': !isQuestionVisible }"
      class="flash-card-button"
    >
      {{ isQuestionVisible ? flashCards[currentIndex].question : flashCards[currentIndex].answer }}
    </button>

    <button (click)="goToNext()" class="arrow-button right-arrow">
      &#8594;
    </button>
  </div>
</div>
