<main class="main">
  <div class="content">
    <div class="container">
      <div *ngIf="!this.flashCardReady">
        <h1 class="title">Flash Cards</h1>

        <div class="links-section">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let mainCategory of data.categories; let i = index" (click)="toggleCategory(mainCategory, $event)">
              <p>{{mainCategory.name}}</p>
              <div *ngIf="selectedCategory === mainCategory && mainCategory.subCategories.length > 0">
                <ul class="sub-list">
                  <li *ngFor="let subCategory of mainCategory.subCategories" (click)="subCategoryClick(subCategory)" class="sub-list-item">
                    {{subCategory.name}}
                  </li>
                </ul>
              </div>

            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="this.flashCardReady" class="flash-cards-container">
        <div class="sticky-header">
          <p (click)="homeClick()" class="home-button">Home</p>
        </div>
        <p><strong>Main Category:</strong> {{this.selectedCategory?.name}}</p>
        <p><strong>Sub Category:</strong> {{this.selectedSubCategory?.name}}</p>

        <app-flash-cards
          [showQuestionFirst]="settings.showQuestionFirst"
          [showExampleAutomatically]="settings.showExampleAutomatically"
          [flashCards]="flashCards"
          [currentIndex]="cardIndex"
        >
        </app-flash-cards>
      </div>

    </div>
  </div>

  <app-start-popup
    #startPopup
    [showExampleOption]="showExample()"
    (startFlashCards)="startFlashCards($event)"
  />
</main>

<router-outlet />

