<div class="popup-container" *ngIf="showPopup" (click)="closePopup()">
  <div class="popup">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <div class="popup-header">
        <span class="popup-close" (click)="closePopup()">&times;</span>
        <h2>{{subCategory.name}}</h2>
      </div>
      <div class="popup-body">
        <form [formGroup]="settingsForm">
          <label>
            <input type="checkbox" formControlName="isRandomOrder" /> In Random Order
          </label>
          <br />
          <label>
            <input type="checkbox" formControlName="showAnswerFirst" /> Show Answer Then Question
          </label>
          <br />
          <label *ngIf="showExampleOption">
            <input type="checkbox" formControlName="showExampleManually" /> Show Example Automatically
          </label>
        </form>
      </div>
      <div class="popup-footer">
        <button (click)="start()">Start</button>
      </div>
    </div>
  </div>
</div>
